{% extends "::base.html.twig" %}

{% block title %}Sellers List{% endblock %}

{% block body %}
<h1>This is the list of all your sellers:</h1>
<ul>
{% for seller in sellers%}
    <li><a href="/sellerForm/{{seller.id}}">{{seller.name}}</a></li>
{% endfor %}
<li><a href="http://localhost:8080/sellerForm">New seller</a></li>
</ul>
{% endblock %}
