{% extends "::base.html.twig" %}

{% block title %}Seller Show{% endblock %}

{% block body %}
<h1>This is your chosen seller: {{seller.name}}</h1>
<h3><a href="http://localhost:8080/sellerForm/{{id}}">Edit</a><h3>
<h3><a href="http://localhost:8080/sellerList">Go back to list</a><h3>
{% endblock %}
